body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../images/cover-lap.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.text-center {
    text-align: center;
}

.table1 {
    font-size: 16pt;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.table2 {
    width: 100%;
}

@media print {
    .hide {
        display: none;
    }

    .break {
        page-break-after: always;
    }
}

.besar {
    text-transform: uppercase;
}